.features-list {
    display: flex;
    gap: 30px;
}

.features-item {
    flex-basis: calc((100% - 90px) / 4);
}

.features-icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.features-title {
    margin-bottom: 10px;
    color: var(--header-link);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}