.section.stuff {
    background-color: var(--section-background);
}

.stuff-list {
    display: flex;
    justify-content: center;
}

.stuff-item {
    font-size: 0;
    background: var(--basic-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
    margin-right: 30px;
}
}
.stuff-name {
    margin-bottom: 10px;

    color: var(--header-link);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.stuff-position {
    margin: 0;
    color: var(--basic-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.team-box {
    padding: 30px 32px;
}

/* посилання на соціальні мережі */
.social-link-list {
    display: flex;
    gap: 10px;
}